body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 50vw;
    border: 1px solid black;
}

.calc-title {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    margin: 0px;
}

.calc-buttons{
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "numbers operators"
        "actions operators";
    gap: 10px;
    padding: 10px;
}

.numbers {
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(3, 1fr);
    grid-area: numbers;
    width: 100%;
    height: 100%;
}

.operators {
    display: grid;
    grid-template: 1fr  1fr 1fr 1fr / 1fr;
    grid-area: operators;
}

.actions {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-area: actions;
}

.numbers, .operators, .actions {
    gap: 5px;
}


button {
    min-height: 40px;
    padding: 10px;
}

.calc-input {
    text-align: right;
    font-size: 2.5em;
    height: 50px;
    margin: 30px 0px;
}

